.input-text-box{
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content min-content;
    align-items: center;
    .input-text-container{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        border: 1px solid var(--clr-border);
        height: var(--space-400);
        display: flex;
        gap: var(--space-100);
        align-items: center;
        padding: var(--space-0) var(--space-200);
        background-color: hsl(from var(--clr-surface-1) h s l / 0.7);
        color: var(--clr-text);

        &.disabled{
            cursor: not-allowed;
            background-color: hsl(from var(--clr-surface-1) h s l / 0.7);
            border: 1px dashed var(--clr-border);

            background-image: repeating-linear-gradient(
                45deg,
                transparent,
                transparent 2px,
                hsl(from var(--clr-surface-4) h s l / 0.2) 4px
            );

            .input-text{
                color: hsl(from var(--clr-text) h s l / 0.5);

                &::placeholder{
                    color: hsl(from var(--clr-surface-4) h s l / 1);
                }
            }
        }

        &.error{
            border-color: var(--clr-danger-700);
        }

        &.rounded{
            border-radius: var(--space-100);
        }
        &.box{
            border-radius: var(--space-0);
        }
        &.circle{
            border-radius: var(--space-200);
            padding: var(--space-0) var(--space-300);

            &:has(.icon-before){
                padding-left: var(--space-250);
            }
            &:has(.icon-after){
                padding-right: var(--space-250);
            }
        }
        
        &:has(.input-text:focus-visible){
            outline: 2px solid var(--clr-focus-ouline);
            outline-offset: 2px;
        }

        .input-text{
            background-color: transparent;
            color: var(--clr-text);
            flex-grow: 1;
            border: 0px;
            outline: 0px;

            &::placeholder{
                color: var(--clr-surface-5);
                font-weight: var(--font-weight-normal);
            }
        }

        .prefix-box{
            display: flex;
            color: var(--clr-surface-4);
            font-weight: var(--font-weight-bold);
        }
        .sufix-box{
            display: flex;
            color: var(--clr-surface-4);
            font-weight: var(--font-weight-bold);
        }
        .lock-box{
            display: flex;
            color: var(--clr-surface-4);
        }
        .clear-button{
            margin: var(--space-0);
            padding: var(--space-0);
            height: fit-content;
            width: fit-content;
            
            .icon{
                color: var(--clr-surface-4);
            }

            &:hover, &:focus-visible{
                .icon{
                    color: var(--clr-surface-5);
                }
            }
        }
    }

    .before-element-box{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-right: var(--space-100);
    }
    .after-element-box{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        margin-left: var(--space-100);
    }
    .error-box{
        grid-column: span 2;
        grid-row: 2 / 3;

        margin: var(--space-100) var(--space-0);
        display: flex;
        align-items: center;
        gap: var(--space-100);
        color: var(--clr-danger-700);
    }
}
