.radio-button.button{
    padding-left: var(--space-100);
    padding-right: var(--space-100);

    cursor: pointer;

    &.circle{
        &:has(.icon-before){
            padding-left: var(--space-150);
            padding-right: var(--space-150);
        }
    }

    &.subtle.subtle-selected:not(:disabled){
        &:hover, &:focus-visible{
            background-color: transparent;
        }
    }
    &.selected.subtle-selected:not(:disabled){
        background-color: transparent;
        border: 1px solid transparent;

        &:hover, &:focus-visible{
            background-color: transparent;
        }
    }

    &:disabled{
        cursor: not-allowed;
        &:hover, &:focus-visible{

            .radio-circle-indicator{
                background-color: transparent;
            }
        }
    }

    &:hover, &:focus-visible{
        .radio-circle-indicator{
            background-color: hsl(from var(--clr-surface-2) h s l / 1);
        }
    }


    &:not(:has(.text-label-box)){
        padding-left: var(--space-100) !important;
        padding-right: var(--space-100) !important;

        &.circle{
            &:has(.icon-before){
                padding-left: var(--space-150) !important;
                padding-right: var(--space-150) !important;
            }
        }

        .icon-before{
            margin: var(--space-0);
            .circle-indicator{
                margin: var(--space-0);
            }
        }
    }

    .text-label-box{
        flex-grow: 1;
        flex-direction: column;
        margin: var(--space-25) var(--space-50);
        align-items: start;

        .text-label{
            font-weight: var(--font-weight-normal);
        }
        .text-sublabel{
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-normal);
            margin-top: var(--space-25);
            text-align: start;
        }
        &:has(.text-sublabel){
            align-items: start;
        }
    }

    &:has(.text-sublabel){
        align-items: start;
        .icon-before{
            min-height: calc(var(--font-size) + 5px);
            align-items: end;
        }
    }
}

.radio-circle-indicator{
    border-radius: var(--space-300);
    height: var(--space-150);
    width: var(--space-150);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &.circle-on{
        border: 1px solid var(--clr-primary-700);
        color: var(--clr-primary-100);
        .icon-check{
            position: absolute;
        }
        &::before{
            content: '';
            position: absolute;
            display: block;
            height: var(--space-100);
            width: var(--space-100);
            background-color: var(--clr-primary-700);
            border-radius: var(--space-300);
        }
    }

    &.circle-off{
        border: 1px solid var(--clr-surface-5);
    }
}