.input-color-box{
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: max-content max-content;
    align-items: center;

    .input-color{
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        min-height: 32.01px;
        border: 1px solid var(--clr-border);
        display: flex;
        gap: var(--space-100);
        align-items: center;
        padding: var(--space-0) var(--space-200);
        background-color: hsl(from var(--clr-surface-1) h s l / 0.7);
        cursor: pointer;

        &.disabled{
            cursor: not-allowed;
            background-color: hsl(from var(--clr-surface-1) h s l / 0.7);
            border: 1px dashed var(--clr-border);
            background-image: repeating-linear-gradient(
                45deg,
                transparent,
                transparent 2px,
                hsl(from var(--clr-surface-4) h s l / 0.2) 4px
            );

            .value-label-box{
                color: hsl(from var(--clr-text) h s l / 0.5);
                .placeholder{
                    color: hsl(from var(--clr-surface-4) h s l / 1);
                }
            }
        }

        &.error{
            border-color: var(--clr-danger-700);
        }

        &.rounded{
            border-radius: var(--space-100);
        }
        &.box{
            border-radius: var(--space-0);
        }
        &.circle{
            border-radius: var(--space-200);
            padding: var(--space-0) var(--space-300);

            &:has(.icon-before){
                padding-left: var(--space-250);
            }
            &:has(.icon-after){
                padding-right: var(--space-250);
            }
        }
        
        &:focus-visible{
            outline: 2px solid var(--clr-focus-ouline);
            outline-offset: 2px;
        }

        &.selected{
            background-color: hsl(from var(--clr-surface-primary-4) h s l / 0.1);
            border-color:  var(--clr-border-primary);
            
            .value-label-box{
                color: var(--clr-primary-900);
                .placeholder{
                    color: var(--clr-surface-primary-5);
                }
            }

            .caret-box, .clear-button .icon, .prefix-box, .sufix-box{
                color: var(--clr-surface-primary-5);
            }
        }

        .value-label-box{
            flex-grow: 1;
            padding: 3.4px var(--space-0);
            display: flex;
            align-items: center;
            color: var(--clr-text);
            
            .value-label{
                line-height: 1.8em;
            }
            .placeholder{
                line-height: 1.8em;
                color: var(--clr-surface-5);
                font-weight: var(--font-weight-normal);
            }
        }

        .prefix-box{
            display: flex;
            color: var(--clr-surface-4);
            font-weight: var(--font-weight-bold);
        }
        .sufix-box{
            display: flex;
            color: var(--clr-surface-4);
            font-weight: var(--font-weight-bold);
        }
        .lock-box{
            display: flex;
            color: var(--clr-surface-4);
        }
        .caret-box{
            display: flex;
            color: var(--clr-surface-4);
        }
        .clear-button{
            margin: var(--space-0);
            padding: var(--space-0);
            height: fit-content;
            width: fit-content;
            
            .icon{
                color: var(--clr-surface-4);
            }

            &:hover, &:focus-visible{
                .icon{
                    color: var(--clr-surface-5);
                }
            }
        }
    }

    .before-element-box{
        margin-right: var(--space-50);
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .after-element-box{
        margin-left: var(--space-100);
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .error-box{
        grid-column: span 2;
        grid-row: 2 / 3;

        margin: var(--space-100) var(--space-0);
        display: flex;
        align-items: center;
        gap: var(--space-100);
        color: var(--clr-danger-700);
    }
}

//Style dropdown container

.input-color-dropdown{
    .dropdown-container .content-box{
        .element-header-box{
            padding: var(--space-0) !important;
        }

        .dropdown-body-box{
            margin: var(--space-0) !important;
            overflow: hidden;

            .drodown-color-picker{
                width: 285px;
                max-width: 285px;
            }
        }

        .element-footer-box{
            padding: var(--space-0) !important;
        }
    }

    .dropdown-body-box{
        padding: var(--space-200) var(--space-0);
        display: grid;
        grid-auto-rows: max-content;
        align-items: center;
        justify-content: center;

        .dropdown-item {
            flex-grow: 1;
            width: auto;
            margin: var(--space-25) var(--space-50);

            .text-label-box{
                flex-grow: 1;
                flex-direction: column;
                align-items: start;
                
                .text-sublabel{
                    color: var(--clr-surface-5);
                    font-size: var(--font-size-sm);
                    font-weight: var(--font-weight-normal);
                    margin-top: var(--space-25);
                }
            }

            &:has(.text-sublabel){
                align-items: start;
            }
        }
        .check-icon-container{
            display: flex;
            gap: var(--space-100)
        }

        .separator{
            .section-title{
                display: block;
                color: var(--clr-surface-5);
                font-weight: var(--font-weight-semi-bold);
                margin-left: var(--space-200);
                margin-right: var(--space-200);
                margin-top: var(--space-150);
                margin-bottom: var(--space-100);
            }
        }
        .dropdown-item + .separator, .dropdown-menu-trigger-box + .separator{
            border-top: 1px solid var(--clr-border);
            margin: var(--space-100) var(--space-0);
            .section-title{
                margin-bottom: var(--space-0);
            }
        }
    }
}

.input-color-bottom-sheet{
    .bottom-sheet-box .bottom-sheet-container{
        .content-box{
            padding: var(--space-0);
            gap: var(--space-0);
        }
        .bottom-sheet-body-box{
            padding: var(--space-200) var(--space-0);
            display: grid;
            grid-auto-rows: max-content;
            align-items: center;
            justify-content: center;

            .dropdown-item {
                flex-grow: 1;
                width: auto;
                margin: var(--space-25) var(--space-50);

                .text-label-box{
                    flex-grow: 1;
                    flex-direction: column;
                    align-items: start;
                    
                    .text-sublabel{
                        color: var(--clr-surface-5);
                        font-size: var(--font-size-sm);
                        font-weight: var(--font-weight-normal);
                        margin-top: var(--space-25);
                    }
                }

                &:has(.text-sublabel){
                    align-items: start;
                }
            }
            .check-icon-container{
                display: flex;
                gap: var(--space-100)
            }

            .separator{
                .section-title{
                    display: block;
                    color: var(--clr-surface-5);
                    font-weight: var(--font-weight-semi-bold);
                    margin-left: var(--space-200);
                    margin-right: var(--space-200);
                    margin-top: var(--space-150);
                    margin-bottom: var(--space-100);
                }
            }
            .dropdown-item + .separator, .dropdown-menu-trigger-box + .separator{
                border-top: 1px solid var(--clr-border);
                margin: var(--space-100) var(--space-0);
                .section-title{
                    margin-bottom: var(--space-0);
                }
            }
        }
    }
}
