.checkbox-tree-box{
    margin: var(--space-25);
    .text-label-box{
        .text-label{
            text-align: start;
        }
    }
    .checkbox-button{
        margin: var(--space-25);
    }
    .parent-box{
        display: flex;
        align-items: start;
        gap: var(--space-0);

        .collapse-button{
            margin-top: var(--space-100);
            height: fit-content;
            width: fit-content;
            padding: var(--space-0);

            .global-icon{
                color: var(--clr-surface-4);
            }
        }
    }

    .child-box{
        margin-left: var(--space-400);
        position: relative;
        display: grid;
        grid-template-rows: 1fr;
        transition: grid-template-rows 0.3s ease-out;

        >div{
            overflow: hidden;
        }
        
        &.closed{
            grid-template-rows:  0fr;
        }

        &::after{
            content: '';
            position: absolute;
            display: block;
            height: 100%;
            width: 1px;
            background-color: var(--clr-border);
            left: -20px;
        }
    }
}
