.suprisingly-sendable-template{
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;

    >.banner-box{
        background-color: var(--clr-orange-200);
        padding: var(--space-100) var(--space-200);
    }
    
}