.feature-box{
    border:1px solid var(--clr-border);
    padding: var(--space-150) var(--space-250);
    background: var(--clr-surface-2);
    
    &:hover{
        border: 1px solid var(--clr-surface-6);
    }
}