.switch-button.button{
    padding-left: var(--space-100);
    padding-right: var(--space-100);

    cursor: pointer;

    &.circle{
        &:has(.icon-before){
            padding-left: var(--space-150);
            padding-right: var(--space-150);
        }
    }
    
    &.subtle.subtle-selected:not(:disabled){
        &:hover, &:focus-visible{
            background-color: transparent;
        }
    }
    &.selected.subtle-selected:not(:disabled){
        background-color: transparent;
        border: 1px solid transparent;

        &:hover, &:focus-visible{
            background-color: transparent;
        }
    }

    &:disabled{
        cursor: not-allowed;
        &:hover, &:focus-visible{

            .switch-indicator{
                background-color: transparent;
            }
        }
    }

    &:hover:not(.selected), &:focus-visible:not(.selected){
        .switch-indicator{
            background-color: hsl(from var(--clr-surface-2) h s l / 1);
        }
    }


    &:not(:has(.text-label-box)){
        padding-left: var(--space-100) !important;
        padding-right: var(--space-100) !important;

        &.circle{
            &:has(.icon-before){
                padding-left: var(--space-150) !important;
                padding-right: var(--space-150) !important;
            }
        }

        .icon-before{
            margin: var(--space-0);
            .switch-indicator{
                margin: var(--space-0);
            }
        }
    }

    .text-label-box{
        flex-grow: 1;
        flex-direction: column;
        margin: var(--space-25) var(--space-50);
        align-items: start;

        .text-label{
            font-weight: var(--font-weight-normal);
        }
        .text-sublabel{
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-normal);
            margin-top: var(--space-25);
            text-align: start;
        }
        &:has(.text-sublabel){
            align-items: start;
        }
    }

    &:has(.text-sublabel){
        align-items: start;
        .icon-before{
            min-height: calc(var(--font-size) + 8px);
            align-items: end;
        }
    }
}

.switch-indicator{
    height: var(--space-250);
    width: var(--space-400);
    display: flex;
    align-items: center;
    transition: all 0.3s ease; /* Changed from 2s for better UX */
    padding-left: var(--space-25);
    padding-right: var(--space-25);
    position: relative;

    &.rounded{
        border-radius: var(--space-100);
        &::before{
            border-radius: var(--space-50);
        }
    }
    &.box{
        border-radius: var(--space-0);
        &::before{
            border-radius: var(--space-0);
        }
    }
    &.circle{
        border-radius: var(--space-200);
        &::before{
            border-radius: var(--space-200);
        }
    }

    &::before{
        content: '';
        position: absolute;
        left: 10%;
        display: block;
        height: var(--space-150);
        width: var(--space-150);
        background-color: var(--clr-surface-5);
        transition: left 0.3s ease; /* This animates the circle movement */
    }

    &.circle-on{
        background-color: var(--clr-surface-primary-2);
        border: 1px solid var(--clr-primary-700);
        color: var(--clr-primary-100);
        &::before{
            left: 58%;
            background-color: var(--clr-primary-700);
        }
    }

    &.circle-off{
        border: 1px solid var(--clr-border);
    }
}