@use '/src/styles/variables.scss' as *;
@import '@fontsource/inter/100.css';
@import '@fontsource/inter/200.css';
@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/800.css';
@import '@fontsource/inter/900.css';

@font-face {
    font-family: 'Noto Color Emoji';
    font-style: normal;
    font-display: fallback;
    font-weight: 400;
    src: url(@fontsource/noto-color-emoji/files/noto-color-emoji-emoji-400-normal.woff2) format('woff2'), url(@fontsource/noto-color-emoji/files/noto-color-emoji-emoji-400-normal.woff) format('woff');
}

:root {
    // Font weights
    --font-weight-light: #{$font-weight-light};           
    --font-weight-normal: #{$font-weight-normal};
    --font-weight-semi-bold: #{$font-weight-semi-bold};
    --font-weight-bold: #{$font-weight-bold};
    --font-weight-bolder: #{$font-weight-bolder};

    // Spacing
    --space-0: #{$space-0};
    --space-25: #{$space-25};
    --space-50: #{$space-50};
    --space-100: #{$space-100};
    --space-150: #{$space-150};
    --space-200: #{$space-200};
    --space-250: #{$space-250};
    --space-300: #{$space-300};
    --space-400: #{$space-400};
    --space-500: #{$space-500};
    --space-600: #{$space-600};
    --space-800: #{$space-800};
    --space-1000: #{$space-1000};

    --scrollbar-gutter: #{$space-50};

    @include generate-font-size-variable(medium);
    @include generate-global-color-variable(false);

    font-weight: var(--font-weight-normal);
    background-color: var(--clr-surface-1);
    color: var(--clr-text);

    *:not(.ql-editor):not(.ql-editor *):not(.cm-editor):not(.cm-editor *):not(.paper-block-content):not(.paper-block-content *){
        font-family: 'Inter', 'Noto Color Emoji', monospace;
        font-size: var(--font-size);
        line-height: 1.6;

        &.text-code{
            font-family: monospace;
            background-color: var(--clr-primary-100);
        }
    }

    
    .text-sub{
        color: var(--clr-surface-6);
    }
    .text-sm{
        font-size: var(--font-size-sm) !important;
    }
    .text-lg{
        font-size: var(--font-size-lg) !important;
    }
    .text-xl{
        font-size: var(--font-size-xl) !important;
    }

    .text-title{
        font-weight: var(--font-weight-bold);
    }
    .text-title-sm{
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-sm) !important;
    }
    .text-title-lg{
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-lg) !important;
    }
    .text-title-xl{
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-xl) !important;
    }

    .global-radius{
        border-radius: var(--global-radius);
    }

    .checkered-background{
        background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill-opacity="0.05" fill="black"><path d="M8 0h8v8H8zM0 8h8v8H0z"/></svg>')
    }

    .global-icon{
        min-height: var(--icon-size);
        min-width: var(--icon-size);
    }

    --global-disbaled-bg: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 2px,
        hsl(from var(--clr-surface-4) h s l / 0.2) 4px
    );
    .global-disbaled-bg{
        background-image: var(--global-disbaled-bg);
    }
}

[data-theme^="dark"] {
    @include generate-global-color-variable(true);

    .checkered-background{
        background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill-opacity="0.05" fill="white"><path d="M8 0h8v8H8zM0 8h8v8H0z"/></svg>')
    }
}

[data-font-size^="small"] {
    @include generate-font-size-variable(small);
}
[data-font-size^="large"] {
    @include generate-font-size-variable(large);
}

[data-theme*="rounded"] {
    --global-radius: var(--space-100);
}
[data-theme*="circle"] {
    --global-radius: var(--space-200);
}
[data-theme*="box"] {
    --global-radius: var(--space-0);
}

html {
    button{
        color: var(--clr-text);
    }

    body {
        margin: 0;
    }

    p{
        margin: 0;
    }
}

/* width */


::-webkit-scrollbar {
    width: var(--scrollbar-gutter);
    height: var(--scrollbar-gutter);
}

/* Track */
::-webkit-scrollbar-track {
    background-color: hsl(from var(--clr-surface-4) h s l / 0.2);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: hsl(from var(--clr-surface-4) h s l / 0.3);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(from var(--clr-surface-4) h s l / 1);
}

::-webkit-scrollbar-corner { 
    background: hsl(from var(--clr-surface-4) h s l / 0.2);
}
[data-theme*="box"] {
    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 0px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 0px;
    }
}
