.input-tag-box{
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: max-content max-content;
    align-items: center;

    .input-tag-container{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        border: 1px solid var(--clr-border);
        padding: 2.8px calc(var(--space-200) + 2px);
        background-color: hsl(from var(--clr-surface-1) h s l / 0.7);
        display: flex;
        align-items: center;
        gap: var(--space-100);
        min-height: calc(var(--space-400) - 5.6px);

        &.input-tag-value-container{
            position: absolute;
            top:0px;
            border: 2px solid transparent;
            background-color: transparent;
            pointer-events: none;
            align-items: start;
            justify-content: start;
            outline: none;
        }

        &.disabled{
            cursor: not-allowed;
            background-color: hsl(from var(--clr-surface-1) h s l / 0.7);
            border: 1px dashed var(--clr-border);

            background-image: repeating-linear-gradient(
                45deg,
                transparent,
                transparent 2px,
                hsl(from var(--clr-surface-4) h s l / 0.2) 4px
            );

            .input-tag{
                cursor: inherit;
                color: hsl(from var(--clr-text) h s l / 0.5);

                &::placeholder{
                    color: hsl(from var(--clr-surface-4) h s l / 1);
                }
            }
        }

        &.selected{
            background-color: hsl(from var(--clr-surface-primary-4) h s l / 0.1);
            border-color:  var(--clr-border-primary);
            
            .value-label-box{
                color: var(--clr-primary-900);
                .placeholder{
                    color: var(--clr-surface-primary-5);
                }
            }

            .input-tag-tag{
                background-color: hsl(from var(--clr-surface-primary-5) h s l / 0.1);
                .tag-label{
                    color: var(--clr-primary-900);
                }
                .icon{
                    color: var(--clr-primary-900);
                }
            }

            .caret-box, .clear-button .icon, .prefix-box, .sufix-box{
                color: var(--clr-surface-primary-5);
            }
        }

        &.error{
            border-color: var(--clr-danger-700);
        }

        &.rounded{
            border-radius: var(--space-100);
        }
        &.box{
            border-radius: var(--space-0);
        }
        &.circle{
            border-radius: var(--space-200);
            padding: 2.8px calc(var(--space-300) + 2px);

            &:has(.icon-before){
                padding-left: var(--space-250);
            }
            &:has(.icon-after){
                padding-right: var(--space-250);
            }
        }

        &:has(.input-tag:focus-visible){
            outline: 2px solid var(--clr-focus-ouline);
            outline-offset: 2px;
        }

        .input-tag-input{
            display: flex;
            flex-grow: 1;
            align-items: center;
            flex-wrap: wrap;
            gap: var(--space-100);

            .input-tag{
                color: var(--clr-text);
                border: 0px;
                outline: 0px;
                background-color: transparent;
                width: fit-content;
                flex-grow: 1;
                min-height: 24.4px;
                padding: 0px;
                &::placeholder{
                    color: var(--clr-surface-5);
                }
            }
        }

        .prefix-box{
            display: flex;
            color: var(--clr-surface-4);
            font-weight: var(--font-weight-bold);
        }
        .sufix-box{
            display: flex;
            color: var(--clr-surface-4);
            font-weight: var(--font-weight-bold);
        }
        .lock-box{
            display: flex;
            color: var(--clr-surface-4);
        }
        .caret-box{
            display: flex;
            color: var(--clr-surface-4);
        }
        .clear-button{
            margin: var(--space-0);
            padding: var(--space-0);
            height: fit-content;
            width: fit-content;
            
            .icon{
                color: var(--clr-surface-4);
            }

            &:hover, &:focus-visible{
                .icon{
                    color: var(--clr-surface-5);
                }
            }
        }
    }

    .before-element-box{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .after-element-box{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .error-box{
        grid-column: span 2;
        grid-row: 2 / 3;

        margin: var(--space-100) var(--space-0);
        display: flex;
        align-items: center;
        gap: var(--space-100);
        color: var(--clr-danger-700);
    }
}

.input-tag-dropdown{
    margin: var(--space-50) 0px;
}
