.input-file-box{
    display: grid;
    gap:var(--space-100);
    
    .error-button{
        border-color: var(--clr-danger-700);
    }

    // &:has(.file-card-box.error){
    //     .select-file-button{
    //         border-color: var(--clr-danger-700);
    //     }
    // }

    .file-card-box{
        border: 1px solid var(--clr-border);
        padding: var(--space-100) calc(var(--space-200) + 2px);
        display: grid;
        align-items: start;
        gap: var(--space-25);

        &.error{
            border-color: var(--clr-danger-700);
        }

        &.rounded{
            border-radius: var(--space-100);
        }
        &.box{
            border-radius: var(--space-0);
        }
        &.circle{
            border-radius: var(--space-200);
            padding: var(--space-0) calc(var(--space-300) + 2px);

            &:has(.icon-before){
                padding-left: var(--space-250);
            }
            &:has(.icon-after){
                padding-right: var(--space-250);
            }
        }

        .error-box{
            margin-right: var(--space-100);
        }
    }

    .error-box{
        display: flex;
        align-items: center;
        gap: var(--space-100);
        color: var(--clr-danger-700);
    }
    // display: grid;
    // grid-template-columns: max-content 1fr max-content;
    // align-items: center;
    // gap: var(--space-100);

    
    // .input-file{
    //     min-height: 32.01px;

    //     border: 1px solid var(--clr-border);
    //     display: flex;
    //     align-items: center;
    //     padding: var(--space-0) calc(var(--space-200) + 2px);
    //     background-color: hsl(from var(--clr-surface-1) h s l / 0.7);
    //     cursor: pointer;

    //     &.disabled{
    //         cursor: not-allowed;
    //         background-color: hsl(from var(--clr-surface-1) h s l / 0.7);
    //         border: 1px dashed var(--clr-border);
    //         background-image: var(--global-disbaled-bg);

    //         .value-label-box{
    //             color: hsl(from var(--clr-text) h s l / 0.5);
    //             .placeholder{
    //                 color: hsl(from var(--clr-surface-4) h s l / 1);
    //             }
    //         }
    //     }
    //     &.error{
    //         border-color: var(--clr-danger-700);
    //     }
        // &.rounded{
        //     border-radius: var(--space-100);
        // }
        // &.box{
        //     border-radius: var(--space-0);
        // }
        // &.circle{
        //     border-radius: var(--space-200);
        //     padding: var(--space-0) calc(var(--space-300) + 2px);

        //     &:has(.icon-before){
        //         padding-left: var(--space-250);
        //     }
        //     &:has(.icon-after){
        //         padding-right: var(--space-250);
        //     }
        // }

    //     .value-label-box{
    //         flex-grow: 1;
    //         padding: 3.4px var(--space-0);
    //         display: flex;
    //         flex-wrap: wrap;
    //         align-items: center;
    //         color: var(--clr-text);
            
    //         .value-label-text{
    //             line-height: 1.8em;
    //             display: flex;
    //             align-items: center;
    //             gap: var(--space-100);
    //             margin-right: var(--space-50);
    //         }
    //         .placeholder{
    //             line-height: 1.8em;
    //             color: var(--clr-surface-5);
    //             font-weight: var(--font-weight-normal);
    //         }
    //     }
    // }
}